<div class="fullPage create">
    <mat-card class="example-card">

        <mat-card-header class="center">
            <mat-card-title>Create Initiative</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="colorate-container">
                <form (ngSubmit)="submit()" [formGroup]="regform">

                    <div class="form-fields">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput [formControl]="name">
                        </mat-form-field>

                    </div>

                    <div class="form-fields crisis">
                        <mat-form-field appearance="fill">
                            <mat-label>Crisis</mat-label>
                            <mat-select [formControl]="crisis">
                                <mat-option *ngFor="let crisis of crisises" [value]="crisis._id">
                                    {{crisis.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-fields">
                        <label id="example-name-label" class="example-name-label">Number Of volunteers Required for the Initiative : </label>
                        <label class="example-value-label">{{volunteersRequired.value ? volunteersRequired.value:0}}</label>
                        <mat-slider [formControl]="volunteersRequired" thumbLabel tickInterval="1000" step="1" min="0" max="1000" aria-label="units"></mat-slider>
                    </div>

                    <div class="form-fields">
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput [formControl]="description">
                        </mat-form-field>
                    </div>
                    <div class="form-fields">
                        <mat-form-field class="example-chip-list" appearance="fill">
                            <mat-label>Tags</mat-label>
                            <mat-chip-list #chipList aria-label="HashTags selection">
                                <mat-chip *ngFor="let ht of HashTags" (removed)="remove(ht)">
                                    {{ht}}
                                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                                </mat-chip>
                                <input placeholder="New Value..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>


                    <div class="buttonBar">
                        <button mat-raised-button color="primary" [disabled]="!regform.valid" type="submit">Submit</button>
                        <button mat-raised-button type="reset" (click)="reset()">Reset</button>

                    </div>
                </form>
            </div>
        </mat-card-content>

    </mat-card>


</div>