.colorate-container {
    text-align: center;
    /* border: 2px solid black; */
    width: 60vw;
}

.buttonBar {
    margin-top: 20px;
}

button {
    margin: 5px;
    width: 100px;
}

mat-form-field,
mat-slider {
    width: 80%;
}

mat-expansion-panel {
    width: 80%;
    margin-left: 5vw;
}

.radio {
    display: flex;
    justify-content: space-evenly;
}

.bordered {
    border: 1px solid black;
}