<div class="fullPage create">
    <mat-card class="example-card">
        <mat-card-header class="center">
            <mat-card-title>Welcome {{sessionVars['username']}}</mat-card-title>
            <div class="row">
                <h3>Email: {{sessionVars['user']}}</h3>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="sessionVars['userType'] == 'Organisation'">
                <div class="form-fields">
                    <mat-form-field class="example-chip-list" appearance="fill">
                        <mat-label>Details</mat-label>
                        <mat-chip-list #chipList aria-label="HashTags selection">
                            <mat-chip *ngFor="let ht of details" >
                                {{ht}}
                                <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                            </mat-chip>
                            <input placeholder="New Value..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" >
                            <!-- (matChipInputTokenEnd)="add($event)"
                            > -->
                        </mat-chip-list>
                    </mat-form-field><br>
                    
                </div>
                <div class="form-fields">
                    <mat-form-field class="example-chip-list" appearance="fill">
                        <mat-label>Tags</mat-label>
                        <mat-chip-list #chipList aria-label="HashTags selection">
                            <mat-chip *ngFor="let ht of HashTags" >
                                {{ht}}
                                <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                            </mat-chip>
                            <input placeholder="New Value..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" >
                            <!-- (matChipInputTokenEnd)="add($event)"
                            > -->
                        </mat-chip-list>
                    </mat-form-field><br>
                    
                </div>
            </div>
            <div *ngIf="sessionVars['userType'] == 'Volunteer'">
                vol dash add tags
            </div>
            <div *ngIf="sessionVars['userType'] == 'Beneficiary'">

                <!-- <div class="row">
                    <form (ngSubmit)="submit()" [formGroup]="volForm">
                        <div class="form-fields">
                            <mat-form-field class="text" appearance="fill">
                                <mat-label>Your requirement</mat-label>
                                <textarea matInput [formControl]="requirement">
                            </mat-form-field>
                        </div>
                        <div class="buttonBar">
                            <button mat-raised-button color="primary" type="submit">Submit Requirement</button>
                        </div>
                    </form>
                </div> -->
            </div>
        </mat-card-content>
    </mat-card>

</div>