<nav mat-tab-nav-bar>


    <div class="navButtons">
        <div>
            <a mat-tab-link routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a> &nbsp;
            <a mat-tab-link routerLink="dashboard" routerLinkActive="active">Dashboard</a>
        </div>

        <div>
            <a mat-tab-link (click)="toggleLogIn()">
                <span>
                    {{" "+ (logInStatus?"Log Out":"Log In")}}
      </span>

            </a>
        </div>
    </div>




    <!-- <a mat-tab-link disabled>Disabled Link</a> -->
</nav>
<div class="content">
    <router-outlet></router-outlet>
</div>
<div class="botPage" *ngIf="botHelp">
    <app-bot></app-bot>
</div>

<button class="botButton" (click)="showBotHelp()">
  <img class="bot-icon" src="../assets/bot.png" alt="bot">
</button>
<footer>
    @copyright 2020
</footer>