nav {
    padding: 10px;
    background-color: #045d5d;
    font-size: larger;
}

nav a {
    color: #fff!important;
}

.content {
    margin-top: -20px;
    height: calc(100% - 109px);
    min-height: max-content;
    /* background-color: rgba(196, 125, 33, 0.089); */
}

.navButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botPage {
    z-index: 999;
    position: fixed;
    right: 40px;
    bottom: 130px;
    border: 1px solid black;
    border-radius: 25px;
    height: 60vh;
    width: 300px;
}

.active {
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #045d5d;
    color: #ffffff;
    text-align: center;
}

.bot-icon {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.botButton {
    padding: 0;
    border: none;
    background: none;
}