.colorate-container {
    text-align: center;
    padding: 50px 0 50px 0;
    /* border: 2px solid black; */
    width: 400px;
    /* transform: translate(120%,50%); */
}

.mat-form-field {
    width: 80%;
}

.buttonBar {
    margin-top: 10px;
    text-align: center;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}