<div class="colorate-container">
    <h3>
        <strong>We got your back...Just fill this quick form and a local volunteer will contact you.</strong>
    </h3>
    <form (ngSubmit)="submit()" [formGroup]="regform">

        <div class="form-fields">
            <mat-form-field class="name" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput [formControl]="firstName">
            </mat-form-field>
            &nbsp;
            <mat-form-field class="name" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput [formControl]="lastName">
            </mat-form-field>
        </div>
        <div class="form-fields">
            <mat-form-field appearance="fill">
                <mat-label>Company</mat-label>
                <input matInput [formControl]="company">
            </mat-form-field>
        </div>
        <div class="form-fields">
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-fields">
            <mat-form-field appearance="fill">
                <mat-label>Phone number</mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput [formControl]="phone">
            </mat-form-field>
        </div>
        <div class="form-fields">
            <mat-form-field appearance="fill">
                <mat-label>Subject</mat-label>
                <mat-select [formControl]="subject">
                    <mat-option *ngFor="let sub of subjects" [value]="sub.value">
                        {{sub.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-fields radio">
            <label id="firstTime" class="firstTimeClass">Are you an existing Customer?</label>

            <mat-radio-group aria-label="Select an option" [formControl]="firstTimeOption">
                <mat-radio-button value="1">Yes</mat-radio-button>
                &nbsp;
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="buttonBar">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button type="reset" (click)="reset()">Reset</button>

        </div>
    </form>
</div>