.colorate-container {
    text-align: center;
    /* border: 2px solid black; */
    width: 60vw;
    /* transform: translate(120%,50%); */
}


/* form {
    margin-top: 10px;
} */

.mat-form-field {
    width: 80%;
}

.buttonBar {
    margin-top: 10px;
    text-align: center;
}