/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fullPage {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-image: url('./assets/images/login.jpg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 100%;
}

.create {
    height: 100%;
}

.example-card {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(6, 18, 184, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}